@import "../../../style/variables";
@import "../../../style/mixins";

.modalMenu {
    &__edit,
    &__add {
        @include button();
    }
    &__edit {
        @include button(1);
        padding: 0.5em;
        font-size: 0.9em;
    }
    &__modal {
        background-color: $seconColor;
        box-shadow: $basicShadow;
        padding: 1em;
        max-width: 65vw;
        height: auto;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        border: none;
        border-radius: 0.5em;
    }
}
