@import "../../../style/variables";
.branchesList {
    display: flex;
    list-style-type: none;
    padding: 1em;
    font-size: 1em;
    &__branch {
        border: 1px solid $color;
        background-color: $bgColor;
        color: $color;
        border-radius: 5em;
        padding: 0.7em;
        margin-right: 1em;
        transition: 0.3s;
        &:hover {
            cursor: pointer;
            color: $seconColor;
            background-color: $color;
        }
        i {
            font-size: 1em;
            padding-right: 0.5em;
        }
        &.--selected {
            cursor: pointer;
            color: $seconColor;
            background-color: $color;
            transform: scale(1.1);
        }
    }
}
