@import '../../style/variables';
@import '../../style/mixins';

.reservations {
	padding: 1em;
	&__list {
		display: flex;
		justify-content: center;
	}
	&__container {
		display: grid;
		grid-template-columns: 3fr 1fr;
	}
	&__agenda {
		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1em;
			button {
				@include button;
				display: flex;
				align-items: center;
				padding: 0.5em;
			}
		}
	}
}
@media only screen and (max-width: 550px) {
	.reservations {
		&__container {
			grid-template-columns: 1fr;
		}
		&__side {
			order: -1;
		}
	}
}
