* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}
body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background: #b3afb3;
    border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover {
    background: #969496;
}
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 9px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
