.custom-shape-divider-bottom-1629262842 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629262842 svg {
	position: relative;
	display: block;
	width: calc(122% + 1.3px);
	height: 40px;
}

.custom-shape-divider-bottom-1629262842 .shape-fill {
	fill: #ffffff;
}

//! Top
.custom-shape-divider-top-1629262900 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1629262900 svg {
	position: relative;
	display: block;
	width: calc(122% + 1.3px);
	height: 40px;
}

.custom-shape-divider-top-1629262900 .shape-fill {
	fill: #ffffff;
}
