@import "../../style/variables";

.dashboard {
    background-color: $bgColor;
    padding: 2em;
    color: $fontColor;
    &__user {
        span {
            color: $color;
        }
    }
    &__statistics {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        &__overview {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: space-between;
        }
    }
}
