@import "../../style/variables";
.infoCard {
    background-color: $seconColor;
    padding: 3em;
    margin: 2em;
    border-radius: 1.5em;
    box-shadow: 1px 5px 24px -10px rgba(0, 0, 0, 0.4);
    &.--imp {
        background-color: $color;
        color: $bgColor;
        padding: 2em;
        display: grid;
        margin-inline: 1em;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        justify-content: space-evenly;
        i {
            font-size: 3em;
        }
    }
    &__title {
        margin-left: 1em;
    }
}
