@import "../../style/variables";

.errorPage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    &__title {
        display: flex;
        color: $seconColor;
        i {
            color: $color;
            font-size: 1.1em;
        }
    }
    &__button {
        background-color: $color;
        color: $seconColor;
        border: none;
        border-radius: 0.5em;
        padding: 1em;
        &:hover {
            cursor: pointer;
        }
    }
}
