@import '../../style/variables';
@import '../../style/mixins';

.errorPage {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	&__title {
		display: flex;
		color: $seconColor;
		i {
			color: $color;
			font-size: 1.1em;
		}
	}
	&__button {
		@include button;
	}
}
