@import "../../style/variables";
@import "../../style/mixins";

.branches {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr 4fr;
        &__info {
            &__container {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                & > * {
                    margin-block: 1em;
                }
            }
            &__img {
                width: 15vw;
                height: 15vw;
                object-fit: cover;
                border-radius: 1em;
            }
            &__settings {
                @include button;
            }
        }
    }
}
